.param-description {
    position: absolute;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px 0px #04182B40;
    z-index: 10;
    background-color: white;
    min-width: 300px;
    left: -100px;

    h5 {
        font-size: 14px;
        font-weight: 700;
        color: #061D32;
    }

    p {
        font-size: 12px;
        dont-weight: 400;
        color: #061D32;
    }
}

.area-button {
    text-align: right;
    
    &__item {
        float: right;
    }
}