
.auth_main {
    padding: 0 20px;
    width: 100%;
}

.auth_title {
    font-weight: 600;
}

.auth_label {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #9BA9A6;
}

.auth_form {
    margin-bottom: 125px;
}