.type-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 50px;
}

.type-el {
    display: flex;
    justify-content: center;
}

.type-el-content {
    width: 100%;
}

.type-el:nth-child(5) {
  grid-column: auto / span 2;
  width: 50%;
  margin: auto auto;
}
