.container-bar {
    height: 32px;
    width: 100%;
    background-color: white;
    border-radius: 50px;

  &__progress {
    height: 100%;
    background-color: #FFC541;
    border-radius: inherit;
    text-align: right;
    transition: width 0.5s ease-in-out;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__label {
    color: white;
    padding-right: 5px;
    font-weight: bold;
  }
}