.main-btn {
    border-radius: 8px;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    box-shadow: 0px 3px 12px 0px #0000001A;
    color: #252525;
    height: 36px;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.5px;
        margin: 0 !important;
    }

    &__pushed {
        border: 1px solid #FF2A23;
        box-shadow: none;
    }
}