.link-area {
    display: flex;
    gap: 5px;
    align-items: center;
    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__white {
        color: white;
        svg {
            fill: white;
        }
    }

    &__black {
        color: black;
        svg {
            fill: black;
        }
    }
}