.back-btn {
    color: #0E518F;
    border: 1px solid #0E518F;
    border-radius: 100px;
    width: 85px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;

    &:hover {
        border-color: #061D32;
        color: #061D32;
        
        
        svg {
            fill: #061D32;
        }
    }

    p {
        font-size: 12px;
        font-weight: 400;
    }

    svg {
        fill: #0E518F;
    }
}